.ui {
  &-button {
    padding: 18px 56px;
    margin: 18px 0;
    height: 57px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
    background-color: #F7DE41;
    color: #151E2E;
    text-decoration: none;
    cursor: pointer;
  }
}
