.logotype {
  display: block;
  width: 145px;
  min-width: 145px;
  height: 100%;
  background-image: url("../img/logotype.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &--white {
    background-image: url("../img/logotype-white.svg");
  }
}
